* {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16px;
    background: #fff;
    color: #2c2929;
}

h1 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    color: 2c2929;
    font-size: 34px;
    padding-top: 20px;
}

h2 {
    text-align: left;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
}

h3 {
    font-size: 24px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.8em;
}

h4 {
    font-size: 22px;
    font-family: 'Josefin Sans', sans-serif;
    line-height: 1.4em;
    table
}

h5 {
    font-size: 18px;
    font-family: Arial, Helvetica, sans-serif;
}


.jumbotron {
    padding-top: 23px;
    padding-bottom: 13px;
    background: #FFF;
    color: #000;
}

.jumbotron a {
    color: #000;
    text-decoration: none;
}

#container {
    width: 1153px;
    height: auto;
    margin: 10px auto;
    background: none;
}

.bottomText {
    padding: 15px;
}

.wordsSection {
    padding-bottom: 5%;
}

/* Remove the navbar's default margin-bottom and rounded borders */
.navbar {
    margin-bottom: 0;
    border-radius: 0;
}

.navbar-inverse {
    background-color: #f78a07;
    border: none;
    color: #FFF;
}

.navbar-inverse .navbar-nav>li>a {
    color: #FFF;
}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;

}

.navbar-inverse .navbar-nav>a:hover {
    color: #fff;
    background-color: #080808;
}

.navbar-inverse .navbar-brand {
    font-weight: 500;
    color: #FFF;
}

.navbar-inverse .navbar-nav>li>a:focus,
.navbar-inverse .navbar-nav>li>a:hover {
    background-color: #000;
    color: #FFF;
}

.navbar-inverse .navbar-brand:focus,
.navbar-inverse .navbar-brand:hover {
    color: #fff;
    background-color: #000;
}

.navbar-inverse .navbar-nav>.active>a {
    color: #000;

}

.navbar-inverse .navbar-nav>.active>a,
.navbar-inverse .navbar-nav>.active>a:focus,
.navbar-inverse .navbar-nav>.active>a:hover {
    color: #fff;
}

.navbar-inverse .navbar-nav>.active>a:hover {
    background-color: #fff;
    color: black;
}

/* Add a gray background color and some padding to the footer */
footer {
    background-color: #f2f2f2;
    padding: 25px;
}


.parallax {
    /* The image used */
    background-image: url("images/blackComputer.jpg");

    /* Set a specific height */
    min-height: 100%;

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

@media only screen and (max-width: 768px) {
    .parallax {
        /* The image used */
        background-image: url("images/blackComputer.jpg");

        /* Set a specific height */
        min-height: 250px;

        /* Create the parallax scrolling effect */
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

}

.ddd {
    padding-bottom: 100px;
}

#top {
    width: auto;
    height: auto;
    margin-bottom: 30px;
    margin-left: -58px;
}

#top a {

    color: #807e7e;
    text-decoration: none;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
    margin-left: 7%;

}

#contactinfo {
    width: 350px;
    height: 50px;
    padding: 0px 0px 0px 0px;
    float: right;
}

.topnav {
    overflow: hidden;
    margin-top: -5px;
    background: #000;
}

.topnav a {
    float: left;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

.topnav a:hover {
    background-color: #ddd;
    color: #656565;
}

.topnav a.active {
    background-color: #d76357;
    color: #fff;
}

#header {
    width: auto;
    height: 35px;
    padding: 20px 0px 0px 78px;
    background: #FFF;
    opacity: .60;
}

#resume header {
    width: auto;
    height: 110px;
    padding: 30px 30px 0px 70px;
    background: none;
}


.topText {
    padding-top: 160px;
}

#wrapper {
    width: auto;
    height: auto;
    padding: 20px;
    margin: 0px;
    background: white;
}

#wrapperIndex {
    width: auto;
    height: 450px;
    padding: 20px;
    margin: 0px;
    background: white;
}

#column1 {
    width: auto;
    height: auto;
    margin: 20px 130px 60px 15px;
    padding: 50px 34px 40px 32px;
}

.mainText {
    width: auto;
    margin-left: 100px;
}

#cover {
    width: auto;
    height: auto;
}

#banner1 {
    width: auto;
    height: 60px;
    background: #fff;
}

.titles {
    padding: 20px 0px 0px 35px;
    margin: 0px 150px 0px 150px;
    width: 120px;
    height: 40px;
    background-color: #d76357;
    float: left;
    color: #fff;
}

.imagediv1 {
    width: auto;
    height: auto;
    float: left;
}

.imagediv2 {
    width: auto;
    height: auto;
    float: left;
}

.imagediv3 {
    width: auto;
    height: auto;
    float: right;
}

#banner2 {
    width: auto;
    height: 60px;
    background: #fff;
}

#banner2 div img {
    width: auto;
    height: 180px;
    align-content: center;
}

.photoSection {
    width: 1000px;
    align-items: center;
    margin: 100px;
}


/*END is the images section*/

#bottom {
    clear: both;
    width: auto;
    height: auto;
    padding: 0px 0px 10px 40px;
    background: #B3B3B3;
    text-align: left;
    color: #e7e7e7;
    margin-top: 150px;
}

footer {
    background: #615e5e;
    color: #e7e2e2;
}

#resumecontainer {
    width: 950px;
    height: auto;
    margin: 10px auto;
    padding: 10px 30px 10px 40px;
    background: white;
    box-shadow: 2px 2px 1px 1px black;
}




/*****  PORTFOLIO PAGE  *****/

#portfolio {
    padding: 25px 40px 60px 60px;
    text-align: center;
    width: auto;
    height: auto;
}

.portdiv {
    padding: 20px;
    text-align: center;
    width: auto;
    height: auto;
}

#top a {
    color: #807e7e;
    text-decoration: none;
    font-family: Arial, sans-serif;
    letter-spacing: 1px;
}

.trucks {
    width: 33%;
}

.portdiv1 {
    float: left;
    width: 49%;
}

.portdiv2 {
    float: right;
    width: 49%;
}

.desciptions {
    margin: 0 0 10px;
    width: 70%;
    padding-top: 20px;
}

.desciptionsTrucks {

    width: 100%;
    padding-top: 20px;
}




/****   CONTACT PAGE ***/

#formcontainer {
    height: 700px;
    width: auto;
    padding: 50px 0px 60px 40px;
}

#formcolumn1,
#formcolumn2 {
    width: 49%;
    height: auto;
    border: 0;
    margin: 0 auto;
    padding: 3px 0;
}

.boxForm {

    width: 458px;

}

#side1,
#side2 {
    width: 40%;
    height: auto;
    border: 0;
    margin: 0 auto;
    padding: 3px 0;
}

#side1 {
    float: left;
}

#side2 {
    float: right;
}

#table {
    width: 700px;
    height: 100px;
    border: 1px solid black;
    padding: 20px 10px 40px 20px;
}

input {
    border: none;
    border-bottom: 1px solid #888;
    width: 350px;
}

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
    -webkit-appearance: button;
    cursor: pointer;
    background-color: #f78a07;
    color: #fbf9f9;
    border: none;
    padding: 10px;
}